html,body{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	font-family:"zkwyt";
}

input{
	border:none;
	outline:medium;
}

#app{
	width:100%;
	height:100%;
}
.checkInfoMation{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width:300px;
	height:200px;
	text-align:center;
	border-radius:10px;
	/*border:1px solid #333;*/
	box-shadow:0 0 20px 0;
}
.checkInfoMation input{
	text-align:left;
	border:1px solid #666;
	border-radius:10px 10px 5px 10px;
	text-indent:0.5rem;
}
.checkInfoMation h1{
	margin-bottom:0;
}
.checkInfoMation p{
	margin:10px;
}
.checkInfoMation #sub{
	background:#555;
	width:100px;
	height:2.5rem;
	line-height:2.5rem;
	margin:auto;
	font-weight:bold;
	cursor:pointer;
	transition:0.35s;
	border-radius:10px;
	border:1px solid #fff;
}
.checkInfoMation #sub:hover,
.checkInfoMation #sub:focus{
	background:#fff;
	border-color:#555;
}
.checkInfoMation #sub p{
	margin:0;
	color:;
}

#errBox{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1000;
}
#errBox .bg{
	position:absolute;
	width:100%;
	height:100%;
	z-index:1;
	background:#333;
	opacity:0.5;
}
#errBox .context{
	width:300px;
	height:200px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	padding:1rem 0;
	background:#fff;
	border-radius:1rem;
	text-align:center;
	z-index:2;
	box-shadow:0 0 20px 0;
}
#errBox .context p:nth-child(2){
	padding-top: 2rem;
    font-size: 1.5rem;
}

/*字体载入*/
@font-face
{
  font-family: zkwyt;
  src: url('http://11510.oss-accelerate.aliyuncs.com/web_include_file/css/font/%E7%AB%99%E9%85%B7%E6%96%87%E8%89%BA%E4%BD%93.ttf');
}